
*.iso
Accounts.ini
updfiles.cmd
fileslastos.ini
ftp
filesvergitek.ini
mvfiles.ini
mvfiles1.ini
mvfiles2.ini
Development.Tools*.exe
files/Development.Tools*.exe
files/Development.Tools*.7z
files/ssGooey*.apz
Source.Code/Development.Tools/AutoIt_*.apz
Source.Code/Development.Tools/Visual.Studio.Code*.apz
Source.Code/ssGooey/ISO_Template.iso
# *.apz
*.db

UploadMe.cmd
winscp/winscp.log
files/ss*.apz
